.developIdeaDiv{
    font-size: larger;
    position:absolute; 
    top:90%; 
    left: 2%;
    width: 95%;
}

.developIdeaButton {
    width: 20%;
    z-index: 9;
}
@media only screen 
and (max-device-width: 600px)
{
    .developIdeaButton {
        width: 22%;
    }
}

#cancelEdit{
    float: right;
}

.modal-textbox-div{
    display: block;
}