.ideaCardActionButtons{
    text-align: center;
}

.mdl-card__supporting-text{
    border: 2px groove black;
    margin:2%;
    width: 85%;
    max-height: 470px;
    overflow: auto;
}

.newIdeaButtonDiv {
    text-align: center; 
    margin: 3% 0 3% 0;
}

#ideaSubmitButton{
    width:50%;
}

#rating {
    width: 80px;
}

.modal-textbox-div {
    width:50%;
}

.modal-textbox-div .mdl-textfield {
    width:100%;
}

.sortDiv {
    margin-left: 2%;
}